
<web-app>
  <display-name>RedisTest</display-name>
  
   <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>StudentListServlet</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletB</display-name>
  	<servlet-name>ServletB</servlet-name>

  	<servlet-class>servlet.ServletB</servlet-class>
  </servlet>
  <servlet-mapping >
  	<servlet-name>ServletB</servlet-name>
  	<url-pattern>/ServletB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSelect</display-name>
  	<servlet-name>ServletSelect</servlet-name>
  	<servlet-class>servlet.ServletSelect</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>StudentListServlet</display-name>
  	<servlet-name>StudentListServlet</servlet-name>
  	<servlet-class>servlet.StudentListServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddServlet</display-name>
  	<servlet-name>AddServlet</servlet-name>
  	<servlet-class>servlet.AddServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteServlet</display-name>
  	<servlet-name>DeleteServlet</servlet-name>
  	<servlet-class>servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>EditServlet</display-name>
  	<servlet-name>EditServlet</servlet-name>
  	<servlet-class>servlet.EditServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>StudentOneServlet</display-name>
  	<servlet-name>StudentOneServlet</servlet-name>
  	<servlet-class>servlet.StudentOneServlet</servlet-class>
  </servlet>
  <servlet-mapping >
  	<servlet-name>ServletSelect</servlet-name>
  	<url-pattern>/ServletSelect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentListServlet</servlet-name>
  	<url-pattern>/StudentListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddServlet</servlet-name>
  	<url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditServlet</servlet-name>
  	<url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentOneServlet</servlet-name>
  	<url-pattern>/StudentOneServlet</url-pattern>
  </servlet-mapping>
</web-app>
